# Maven specific
target/
*.jar
*.war
*.ear

# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse specific files
.settings/
.loadTest/
.metadata/

# IntelliJ IDEA specific files
.idea/
*.iws
*.iml
*.ipr
out/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
